MQTT.json
[{"id":"d54c532f.83912","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"eb3eb3a4.2eb58","type":"inject","z":"d54c532f.83912","name":"Split String Test","topic":"Hello World","payload":"Test Hello World Split String","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":200,"wires":[["242c9885.5b5ae8"]]},{"id":"4d45cf7a.ac152","type":"debug","z":"d54c532f.83912","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":200,"wires":[]},{"id":"242c9885.5b5ae8","type":"function","z":"d54c532f.83912","name":"Split String","func":"var split = ' '\nvar list = []\nvar str = \"\"\nfor(i=0; i<=msg.payload.length;i++)\n{\n    str += msg.payload.charAt(i);\n    str = str.replace(/\\s/g,'');\n    if(msg.payload.charAt(i) == split)\n    {\n        list.push(str);\n        str = \"\";\n    }\n}\nif(str.length>0) list.push(str);\nreturn {payload : list};","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["4d45cf7a.ac152"]]},{"id":"1cb4cef8.fc05d1","type":"inject","z":"d54c532f.83912","name":"Test MQTT","topic":"nodered0812","payload":"Hello Baskar test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":340,"wires":[["d9d49563.1fad68"]]},{"id":"d9d49563.1fad68","type":"mqtt out","z":"d54c532f.83912","name":"Test MQTT","topic":"nodered0812","qos":"0","retain":"","broker":"c030f0dd.390de","x":470,"y":340,"wires":[]},{"id":"c030f0dd.390de","type":"mqtt-broker","z":"","name":"Mosquitto MQTT","broker":"test.mosquitto.org","port":"1883","clientid":"noderedtest0812","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]